.image {
    width: 150px;
}

.headerlist {
  font-size: 30px;
  font-weight: bold;
  color:rgb(182, 119, 0);
}

.headerlist:hover {
    color: yellow;
    text-decoration: underline;
}

.title {
    font-size: 30px;
    font-weight: bolder;
}

.image1 {
    width: 500px;
}